
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header ul {
    width: 300px;
    background-color:green;
    list-style-type: none;
    
}

header ul li {

    padding: 20px;
}

header ul li a {
    text-decoration: none;
    color: white;
    margin: 10px;
}


header ul li:nth-child(1){
    background-color:grey
}

